<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% extends 'base.html' %}
{% block title %}
Asosiy sahifa | {{block.super}}
{% endblock title %}
{% block content %}
<div class="row sm-3">
    {% for post in posts %}
    <div class="col-sm-3 mt-5">
        <div class="card">
            <img style="height: 250px;" src="{{post.rasm.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{post.sarlavha}}</h5>
                <h5 class="card-title">{{post.malumot}}</h5>
                <p class="card-text"><i class="fa fa-eye" style="font-size:20px">{{post.kurishlar}}</i></p>
                <p class="card-text"><i class="fa fa-clock-o" aria-hidden="true">{{post.vaqt}}</i></p>
                <a style="width: 100%;" href="/{{post.id}}" class="btn btn-primary ">Batafsil</a>
            </div>
        </div>
    </div>



    {% endfor %}
    {% endblock content %}